extends layout
block scripts
  script(src="https://cdn.jsdelivr.net/npm/chart.js")
  script(src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels")
  script(src='/javascripts/show_data.js')
  script(src='/javascripts/web_jira.js')

block menu
  include menu/menu

block content
  .row
    .col-sm-8 
      .input-group.mb-3
        .input-group-prepend
          label.input-group-text(for="option-sprint") Sprint
        select#option-sprint
          option("selected" value=0) Choose...
          each sprint in jsonSprints
            option(value=sprint.id) #{sprint.name}
    .col-sm-2
      button.btn.btn-primary(hidden)#export-pdf Generate Report
    .col-sm-2
      button.btn.btn-secondary(hidden)#close-sprint Close Sprint
  .row.mt-2
      .container-fluid
            .row
              .accordion
                .accordion-item
                  h2.accordion-header#header-histories
                    button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target="#panel-histories" aria-expanded="true" aria-controls="panel-histories") New functionalities
                  .accordion-collapse.collapse(aria-labelledby="header-histories")#panel-histories
                    .accordion-body
                      .container-fluid#histories-content
            .row
              .accordion
                .accordion-item
                  h2.accordion-header#header-bugs
                    button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target="#panel-bugs" aria-expanded="false" aria-controls="panel-bugs") Solved issues
                  .accordion-collapse.collapse(aria-labelledby="header-bugs")#panel-bugs
                    .accordion-body
                      .container-fluid#bugs-content
                    
            .row
              .accordion
                .accordion-item
                  h2.accordion-header#header-qabugs
                    button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target="#panel-qabugs" aria-expanded="false" aria-controls="panel-qabugs") QA reported bugs
                  .accordion-collapse.collapse(aria-labelledby="header-qabugs")#panel-qabugs
                    .accordion-body
                      .container-fluid#qabugs-content
            
            .row
              .accordion
                .accordion-item
                  h2.accordion-header#header-internal-task
                    button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target="#panel-internal-task" aria-expanded="false" aria-controls="panel-internal-task") Internal Tasks
                  .accordion-collapse.collapse(aria-labelledby="header-internal-task")#panel-internal-task
                    .accordion-body
                      .container-fluid#internal-task-content

            .row
              .accordion
                .accordion-item
                  h2.accordion-header#header-charts
                    button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target="#panel-charts" aria-expanded="false" aria-controls="panel-charts") Sprint metrics
                  .accordion-collapse.collapse(aria-labelledby="header-charts")#panel-charts
                    .accordion-body
                      .container-fluid#charts-content
            
            .row
              .accordion
                .accordion-item
                  h2.accordion-header#header-components
                    button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target="#panel-components" aria-expanded="false" aria-controls="panel-components") Components review
                  .accordion-collapse.collapse(aria-labelledby="header-components")#panel-components
                    .accordion-body
                      .container-fluid#components-content

            .row
              .accordion
                .accordion-item
                  h2.accordion-header#header-components
                    button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target="#panel-release-note" aria-expanded="false" aria-controls="panel-release-note")#boton-panel-release-note Releases
                  .accordion-collapse.collapse(aria-labelledby="header-components")#panel-release-note
                    .accordion-body
                      .container-fluid#release-note-content
            
            //.row
              .accordion
                .accordion-item
                  h2.accordion-header#header-documents-review
                    button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target="#panel-documents-review" aria-expanded="false" aria-controls="panel-documents-review") Documents review
                  .accordion-collapse.collapse(aria-labelledby="header-documents-review")#panel-documents-review
                    .accordion-body
                      .container-fluid#documents-review-content
            
            .row
              .accordion
                .accordion-item
                  h2.accordion-header#header-comments
                    button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target="#panel-comments" aria-expanded="false" aria-controls="panel-comments") Comments
                  .accordion-collapse.collapse(aria-labelledby="header-comments")#panel-comments
                    .accordion-body
                      .container-fluid
                        textarea.form-control(rows= "3")#sprint-comments
  
  .modal.fade(data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true")#loadingModal
    .modal-dialog
      .modal-content
        .modal-body
          .row
            .col-2
              .spinner-border.text-primary(role="status")#spinner
            .col-10
              h3 Loading...

  .modal.fade(data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true")#static-modal
    .modal-dialog
      .modal-content
        .modal-header
          .modal-title.bd-highlight#modal-title Close Sprint
        .modal-body
          .container-fluid#m-body-conent
            .row
              .form-group
                label(for="jira_ticket") Jira ticket
                input.form-control(type="text" placeholder="Enter Jira key to upload report")#jira-ticket
        .modal-footer
          button.btn.btn-secondary(type="button" data-dismiss="modal")#modal-close Close
          button.btn.btn-primary(type="button" data-dismiss="modal")#modal-save Save changes
